.searchInputs {
  margin-top: 0px;
  display: flex;
}

/* .search {
  position: relative;
} */

.search input {
  background-color: transparent;
  border: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
  position: relative;
}

.searchIcon {
  height: 40px;
  width: 50px;
  color: #632b2b;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  position: absolute;
  /* left: 180px; */
  margin-top: 8px;
  min-width: 210px;
  max-width: 430px;
  min-height: 30px;
  max-height: 320px;
  /* height: 300px; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 7px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  grid-gap: 20px;

}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  /* height: 40px; */
  /* display: flex; */
  /* align-items: center; */
  color: black;
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
}

.dataItem p:hover {
  background-color: #c7c7c7;
  color: #000;
}

.dataItem p {
  margin-left: 0px;
  font-size: 20px;
  font-weight: 600;
  padding: 3px 8px;
  padding-left: 10px;
  cursor: pointer;
  color: grey;
  width: 100%;
  margin-top: 0;
}

.dataItem img {
  width: 120px;
  height: 100px;
  border-radius: 6px;
}

.dataItem p {
  text-decoration: none;
}

.dataItem p:hover {
  background-color: #c7c7c7;
  color: #000;
}

#clearBtn {
  cursor: pointer;
}


@media (max-width: 600px) {

.search input {
  background-color: transparent;
  border: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 20px;
  padding: 15px;
  height: 30px;
  width: 300px;
  position: relative;
}
}