* {
  box-sizing: border-box;
  margin: 0;
}

.slider-backdrop {
   background-color: rgba(0, 0, 0, 0.8);
   position: fixed;
   top: 0;
   left: 0;
   display: grid;
   place-items: center;
   width: 100vw;
   height: 100vh;
   z-index: 2300;
}

.closeslider-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.704);
  padding: 6px 10px ;
  border-radius: 4px;
  top: 10px;
    right: 20px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
  z-index: 3300;

}

.closeslider-btn:hover {
  font-size: 28px;
}

.slider-container {
  /* overflow: hidden; */
  border-radius: 20px;
  height: 500px;
  width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.slides {
  height: 500px;
  width: 1200px;
  position: relative;
  background-size: cover; 
  /* auto/cover/contain */
  /* background-repeat: no-repeat; */
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.slide-title,
.slide-text {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 40%;
  z-index: 10;
}

.slide-text {
  top: 65%;
  font-size: 2rem;
}

.prev,
.next {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -3rem;
  font-size: 40px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}

.slider-container:hover .prev,.slider-container:hover .next {
  /* color: black */
}

.slider-container:hover .prev:hover,
.slider-container:hover .next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
}

.next {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}

.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 85%;
  justify-content: center;
  z-index: 200;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 6px;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: inline-block;
}

.slider-container:hover .dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* .active-dot {
  background-color: rgba(255, 255, 255, 0.5);
} */

.slider-container:hover .dot{
  background-color: rgba(0, 0, 0, 0.3);
}
.slider-container:hover .active-dot{
  background-color: rgba(255, 255, 255, 0.5);
}

.play-pause {
  color: black;
}

/* mobile media */
@media (max-width: 600px) {
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  .slider-backdrop {
     background-color: rgba(0, 0, 0, 0.8);
     position: fixed;
     top: 0;
     left: 0;
     display: grid;
     place-items: center;
     width: 100vw;
     height: 100vh;
     z-index: 2300;
  }
  
  .closeslider-btn {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.704);
    padding: 6px;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .closeslider-btn:hover {
    font-size: 35px;
  }
  
  .slider-container {
    overflow: hidden;
    border-radius: 20px;
    height: 400px;
    width: 98%;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  .active {
    display: inline-block;
  }
  
  .inactive {
    display: none;
  }
  
  .slides {
    height: 400px;
    width: 98%;
    position: relative;
    background-size: cover;
  }
  
  .slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
  
  .slide-title,
  .slide-text {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 50px;
    position: absolute;
    text-align: center;
    top: 40%;
    z-index: 10;
  }
  
  .slide-text {
    top: 65%;
    font-size: 2rem;
  }
  
  .prev,
  .next {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    font-size: 40px;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
  }
  
  .slider-container:hover .prev,.slider-container:hover .next {
    color: black
  }
  
  .slider-container:hover .prev:hover,
  .slider-container:hover .next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in;
  }
  
  .next {
    right: 0;
    border-radius: 5px 0px 0px 5px;
  }
  
  .all-dots {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 85%;
    justify-content: center;
    z-index: 200;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px 6px;
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: inline-block;
  }
  
  .slider-container:hover .dot:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  /* .active-dot {
    background-color: rgba(255, 255, 255, 0.5);
  } */
  
  .slider-container:hover .dot{
    background-color: rgba(0, 0, 0, 0.3);
  }
  .slider-container:hover .active-dot{
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .play-pause {
    color: black;
  }
  
}