@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800;900&display=swap");
/* ======== reset ======= */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ========== navbar =========== */
body {
  font-family: "League Spartan";
  overflow-x: hidden;
}

/* ============ navbar ============= */
.nav-colored {
  background-color: #ffe0be !important;
  color: #13593b;
}

/* ============ parent ============ */
#parent {
  width: 100vw;
  min-height: 800px;
  background-color: #fff;
  overflow-x: hidden;
}

.layout-container {
  width: 1440px;
  margin: 0px auto 0 auto;
  background-color: #ffccac;
  background-color: #fff;
  overflow-x: hidden;
}

/* ============ Nav container ============ */
#nav-parent {
  width: 100vw;
  position: relative;
  padding: 0 50px 0 50px;
  top: 0;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  background-color: #ffffff;
  z-index: 10;
}

#nav-parent .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #fff;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 10;
}

#nav-parent .navbar .logo {
  color: #ff5500;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(255, 66, 37, 0.187);
  cursor: pointer;
  position: relative;
}

#nav-parent .navbar .logo span {
  color: #ff5200;
}

#nav-parent .navbar .logo img {
  width: 50px;
  position: absolute;
  top: -27px;
  left: 0px;
}

#nav-parent .navbar .spacer {
  display: none;
}

#nav-parent .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

#nav-parent .navbar ul .Destination-box {
  cursor: pointer;
}

#nav-parent .navbar ul .Destination-box .Destination-dataResult {
  position: absolute;
  /* left: 180px; */
  margin-top: 18px;
  min-width: 210px;
  max-width: 430px;
  min-height: 30px;
  max-height: 320px;
  /* height: 300px; */
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: center;
}

#nav-parent .navbar ul .Destination-box .dataItem {
  width: 100%;
  /* height: 40px; */
  /* display: flex; */
  /* align-items: center; */
  color: black;
  cursor: pointer;
  overflow: hidden;
}

#nav-parent .navbar ul .Destination-box .dataItem p:hover {
  background-color: #c7c7c7;
  color: #000;
}

#nav-parent .navbar ul .Destination-box .dataItem p {
  margin-left: 0px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 7px;
  padding-left: 20px;
  cursor: pointer;
  color: grey;
  width: 100%;
  margin-top: 0;
}

#nav-parent .navbar ul .Destination-box .dataItem img {
  width: 120px;
  height: 100px;
  border-radius: 6px;
  display: none;
}

#nav-parent .navbar ul .Destination-box .dataItem p {
  text-decoration: none;
}

#nav-parent .navbar ul .Destination-box .dataItem p:hover {
  background-color: #c7c7c7;
  color: #000;
}

#nav-parent .navbar ul li {
  margin: 0 7px;
  padding: 11px 0px;
}

#nav-parent .navbar ul li .contact {
  position: relative;
}

#nav-parent .navbar ul li .contact .text-muted {
  position: absolute;
  font-size: 15px;
  font-weight: 700;
  color: grey;
  bottom: -9px;
  left: 20px;
}

#nav-parent .navbar ul li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  width: 120%;
  padding: 11px 28px 11px 15px;
  padding: 11px 15px 11px 15px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "League Spartan";
}

#nav-parent .navbar ul li a i {
  font-size: 20px;
  padding: 0 0 0 0px;
}

#nav-parent .navbar ul li a:hover {
  color: #ffffff;
  background-color: #ff5700;
}

#nav-parent .navbar .menu-btn i {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

#nav-parent .navbar input[type="checkbox"] {
  display: none;
}

/* ============ homeScreen container ============ */
.homeScreen-container .hero-container {
  padding: 0px;
  width: 100%;
  height: 640px;
  background-color: #f5f5f5;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.homeScreen-container .hero-container .hero-box1 {
  background-color: #fff;
  border-radius: 19px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-rows: 0.8fr 80px 130px 1fr;
      grid-template-rows: 0.8fr 80px 130px 1fr;
  width: 1150px;
  height: 530px;
  background-image: url("../../public/images/one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.homeScreen-container .hero-container .hero-box1 .explore-title {
  font-size: 35px;
  color: #fff;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.7);
}

.homeScreen-container .hero-container .hero-box1 .search-box {
  width: 980px;
  height: 130px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 300px 200px 200px 270px;
      grid-template-columns: 300px 200px 200px 270px;
  border-radius: 10px;
}

.homeScreen-container .hero-container .hero-box1 .search-box .input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 42px 40px;
      grid-template-rows: 42px 40px;
  place-items: center;
  width: 250px;
}

.homeScreen-container .hero-container .hero-box1 .search-box .input-container label {
  font-size: 18px;
  font-weight: 600;
  font-family: montserrat;
}

.homeScreen-container .hero-container .hero-box1 .search-box .input-container input {
  width: 210px;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 17px;
  font-weight: 600;
  padding: 6px;
  font-family: league spartan;
}

.homeScreen-container .hero-container .hero-box1 .search-box .checkin-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: center;
}

.homeScreen-container .hero-container .hero-box1 .search-box .checkin-container label {
  font-size: 18px;
  font-weight: 600;
  font-family: montserrat;
}

.homeScreen-container .hero-container .hero-box1 .search-box .checkin-container input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
}

.homeScreen-container .hero-container .hero-box1 .search-box .checkout-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-items: center;
}

.homeScreen-container .hero-container .hero-box1 .search-box .checkout-container label {
  font-size: 18px;
  font-weight: 600;
  font-family: montserrat;
}

.homeScreen-container .hero-container .hero-box1 .search-box .checkout-container input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
}

.homeScreen-container .hero-container .hero-box1 .search-box .book-container .btn-book {
  background-color: #ff5700;
  height: 50px;
  border-radius: 9px;
  width: 230px;
  font-size: 20px;
  font-weight: 600;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.homeScreen-container .hero-container .hero-box1 .search-box .book-container .btn-book:hover {
  text-decoration: underline;
}

.homeScreen-container .hero-container .hero-box1 .search-box .book-container .btn-book .tooltip {
  position: absolute;
  width: 170px;
  height: 35px;
  background-color: #ffd723;
  color: #000;
  z-index: 200;
  border-radius: 10px;
  font-size: 13px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  top: 63px;
}

.homeScreen-container .hero-container .hero-box1 .search-box1 {
  width: 980px;
  height: 130px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 300px 400px 270px;
      grid-template-columns: 300px 400px 270px;
  border-radius: 10px;
}

.homeScreen-container .hero-container .hero-box1 .search-box1 .input-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 42px 40px;
      grid-template-rows: 42px 40px;
  place-items: center;
  width: 250px;
}

.homeScreen-container .hero-container .hero-box1 .search-box1 .input-container label {
  font-size: 18px;
  font-weight: 600;
  font-family: montserrat;
}

.homeScreen-container .hero-container .hero-box1 .search-box1 .input-container input {
  width: 210px;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 17px;
  font-weight: 600;
  padding: 6px;
  font-family: league spartan;
}

.homeScreen-container .hero-container .hero-box1 .search-box1 .checkin-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 42px 40px;
      grid-template-rows: 42px 40px;
}

.homeScreen-container .hero-container .hero-box1 .search-box1 .checkin-container label {
  font-size: 18px;
  font-weight: 600;
  font-family: montserrat;
  text-align: center;
}

.homeScreen-container .hero-container .hero-box1 .search-box1 .checkin-container .rdrCalendarWrapper,
.homeScreen-container .hero-container .hero-box1 .search-box1 .checkin-container .rdrDateRangeWrapper {
  background-color: #fff !important;
}

.homeScreen-container .hero-container .hero-box1 .search-box1 .checkin-container .rdrCalendarWrapper .rdrMonthAndYearWrapper,
.homeScreen-container .hero-container .hero-box1 .search-box1 .checkin-container .rdrDateRangeWrapper .rdrMonthAndYearWrapper {
  background-color: #fff !important;
}

.homeScreen-container .hero-container .hero-box1 .search-box1 .checkin-container .rdrCalendarWrapper .rdrMonths,
.homeScreen-container .hero-container .hero-box1 .search-box1 .checkin-container .rdrCalendarWrapper .rdrMonthsVertical,
.homeScreen-container .hero-container .hero-box1 .search-box1 .checkin-container .rdrDateRangeWrapper .rdrMonths,
.homeScreen-container .hero-container .hero-box1 .search-box1 .checkin-container .rdrDateRangeWrapper .rdrMonthsVertical {
  background-color: #fff !important;
}

.homeScreen-container .hero-container .hero-box1 .search-box1 .book-container .btn-book {
  background-color: #ff5700;
  height: 50px;
  border-radius: 9px;
  width: 230px;
  font-size: 20px;
  font-weight: 600;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #fff;
  cursor: pointer;
}

.homeScreen-container .hero-container .hero-box1 .search-box1 .book-container .btn-book:hover {
  text-decoration: underline;
}

.homeScreen-container .hero-container .hero-box1 h1 {
  font-family: "League Spartan";
  font-size: 156px;
  font-weight: 700;
  color: #000;
  margin-top: -70px;
}

.homeScreen-container .hero-container .hero-box1 h1 span {
  color: #ff5100;
  font-weight: 700;
}

.homeScreen-container .hero-container .hero-box1 .hero_btn {
  margin-top: 42px !important;
  width: 80%;
  height: 50px;
  background-color: #000;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.homeScreen-container .hero-container .hero-box1 .hero_btn:hover {
  background-color: #efefef;
}

.homeScreen-container .hero-container .hero-box1 .hero_btn a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: poppins;
  color: #000;
  font-weight: 500;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.homeScreen-container .hero-container .hero-box1 .hero_btn a:hover {
  color: #fff;
}

.homeScreen-container .features-container {
  padding: 65px 0;
  width: 100%;
  min-height: 200px;
  background-color: #fff;
}

.homeScreen-container .features-container .features-inner {
  width: 1280px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  place-items: center;
}

.homeScreen-container .features-container .features-inner .usp-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
}

.homeScreen-container .features-container .features-inner .usp-column .usp-content {
  margin-left: 8px;
  font-family: "League Spartan";
  font-weight: 600;
  font-size: 19px;
}

.homeScreen-container .features-container .features-inner .usp-column .usp-content .caption {
  margin-top: 7px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 17px;
}

.homeScreen-container .locations-container {
  padding: 65px 0;
  width: 100%;
  min-height: 200px;
  background-color: #f9f9f9;
}

.homeScreen-container .locations-container .location-box1 {
  width: 1280px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 330px;
      grid-template-rows: 330px;
  grid-gap: 30px;
  place-items: center;
}

.homeScreen-container .locations-container .location-box1 .ec2 {
  height: 280px;
  width: 285px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.homeScreen-container .locations-container .location-box1 .ec2::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.243);
  z-index: 2;
  border-radius: 10px;
}

.homeScreen-container .locations-container .location-box1 .ec2 img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.homeScreen-container .locations-container .location-box1 .ec2 .city-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 35px;
  font-weight: 600;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #fff;
  text-decoration: underline;
  z-index: 5;
}

.homeScreen-container .locations-container .location-box1 .ec2 .cir1 {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 100px;
  height: 100px;
  border-radius: 30px 30px 30px 60px;
  font-size: 25px;
  font-weight: 600;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #fff;
  text-decoration: underline;
  z-index: 4;
}

.homeScreen-container .locations-container .location-box1 .ec2 .cir1 i {
  color: darkcyan;
}

.homeScreen-container .trust-container {
  padding: 50px 0;
  width: 100%;
  min-height: 120px;
}

.homeScreen-container .trust-container .trust-inner {
  width: 1280px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 1fr;
      grid-template-columns: 1.3fr 1fr;
  grid-gap: 25px;
}

.homeScreen-container .trust-container .trust-inner .b1 {
  background-color: #a7ffcc;
  padding: 30px 65px;
  border-radius: 15px;
}

.homeScreen-container .trust-container .trust-inner .b1 h3 {
  font-size: 34px;
  font-weight: 700;
}

.homeScreen-container .trust-container .trust-inner .b1 .b1-inner {
  margin-top: 25px;
}

.homeScreen-container .trust-container .trust-inner .b1 .b1-inner .point {
  margin-bottom: 4px;
}

.homeScreen-container .trust-container .trust-inner .b1 .b1-inner .point span {
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
}

.homeScreen-container .trust-container .trust-inner .b2 {
  background-color: #8ffbff;
  padding: 30px 35px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.homeScreen-container .trust-container .trust-inner .b2 h3 {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  padding-right: 20px;
  position: absolute;
  right: 35px;
}

.homeScreen-container .trust-container .trust-inner .b2 img {
  position: absolute;
  bottom: -10px;
  left: -55px;
  height: 250px;
  width: 60%;
}

.homeScreen-container .trust-container .trust-inner .b2 .input {
  position: absolute;
  right: 15px;
  top: 115px;
}

.homeScreen-container .trust-container .trust-inner .b2 .input input {
  border: none;
  border: 2px solid grey solid;
  border-radius: 3px;
  width: 230px;
  height: 35px;
  padding: 6px 7px;
  font-size: 16px;
  font-weight: 600;
  font-family: "montserrat";
}

.homeScreen-container .trust-container .trust-inner .b2 .input .btn {
  background-color: #ef653f;
  color: #fff;
  height: 35px;
  width: 140px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 14px;
  cursor: pointer;
}

.homeScreen-container .review-container {
  width: 100%;
  min-height: 530px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 1fr;
      grid-template-rows: 70px 1fr;
  place-items: center;
  padding: 70px 40px;
  position: relative;
  font-family: montserrat;
}

.homeScreen-container .review-container .title {
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 35px;
  padding-left: 100px;
}

.homeScreen-container .review-container .title i {
  padding-left: 10px;
}

.homeScreen-container .review-container .pre {
  background-color: #a3ffd7;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 57%;
  left: 175px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.277);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.277);
  z-index: 3;
}

.homeScreen-container .review-container .pre i {
  position: absolute;
  top: 28%;
  left: 14px;
  font-size: 2rem;
  color: #131313;
}

.homeScreen-container .review-container .nxt {
  background-color: #a3ffd7;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 57%;
  right: 175px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.277);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.277);
  z-index: 3;
}

.homeScreen-container .review-container .nxt i {
  position: absolute;
  top: 28%;
  right: 14px;
  font-size: 2rem;
  color: #131313;
}

.homeScreen-container .review-container .reviews-outer {
  width: 75%;
  margin: 0 auto;
  height: 300px;
  border-radius: 15px;
  padding: 0 50px;
  overflow-x: hidden;
}

.homeScreen-container .review-container .reviews-outer .reviews-inner {
  min-width: 100%;
  height: 100%;
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  place-items: center;
  -webkit-animation: scr 19s infinite ease-in-out;
          animation: scr 19s infinite ease-in-out;
}

@-webkit-keyframes scr {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scr {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.homeScreen-container .review-container .reviews-outer .reviews-inner .one,
.homeScreen-container .review-container .reviews-outer .reviews-inner .two,
.homeScreen-container .review-container .reviews-outer .reviews-inner .three,
.homeScreen-container .review-container .reviews-outer .reviews-inner .four,
.homeScreen-container .review-container .reviews-outer .reviews-inner .five {
  height: 260px;
  width: 340px;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.3fr 1fr;
      grid-template-rows: 0.3fr 1fr;
}

.homeScreen-container .review-container .reviews-outer .reviews-inner .one .name,
.homeScreen-container .review-container .reviews-outer .reviews-inner .two .name,
.homeScreen-container .review-container .reviews-outer .reviews-inner .three .name,
.homeScreen-container .review-container .reviews-outer .reviews-inner .four .name,
.homeScreen-container .review-container .reviews-outer .reviews-inner .five .name {
  background-color: #e3e2e2;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.homeScreen-container .review-container .reviews-outer .reviews-inner .one .name span,
.homeScreen-container .review-container .reviews-outer .reviews-inner .two .name span,
.homeScreen-container .review-container .reviews-outer .reviews-inner .three .name span,
.homeScreen-container .review-container .reviews-outer .reviews-inner .four .name span,
.homeScreen-container .review-container .reviews-outer .reviews-inner .five .name span {
  font-weight: 600;
  font-size: 1.4rem;
  color: #606060;
}

.homeScreen-container .review-container .reviews-outer .reviews-inner .one .review,
.homeScreen-container .review-container .reviews-outer .reviews-inner .two .review,
.homeScreen-container .review-container .reviews-outer .reviews-inner .three .review,
.homeScreen-container .review-container .reviews-outer .reviews-inner .four .review,
.homeScreen-container .review-container .reviews-outer .reviews-inner .five .review {
  background-color: #b9fdff;
  overflow-y: auto;
  padding: 30px 30px 30px 30px;
}

.homeScreen-container .review-container .reviews-outer .reviews-inner .one .review::-webkit-scrollbar,
.homeScreen-container .review-container .reviews-outer .reviews-inner .two .review::-webkit-scrollbar,
.homeScreen-container .review-container .reviews-outer .reviews-inner .three .review::-webkit-scrollbar,
.homeScreen-container .review-container .reviews-outer .reviews-inner .four .review::-webkit-scrollbar,
.homeScreen-container .review-container .reviews-outer .reviews-inner .five .review::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
}

.homeScreen-container .review-container .reviews-outer .reviews-inner .one .review::-webkit-scrollbar-thumb,
.homeScreen-container .review-container .reviews-outer .reviews-inner .two .review::-webkit-scrollbar-thumb,
.homeScreen-container .review-container .reviews-outer .reviews-inner .three .review::-webkit-scrollbar-thumb,
.homeScreen-container .review-container .reviews-outer .reviews-inner .four .review::-webkit-scrollbar-thumb,
.homeScreen-container .review-container .reviews-outer .reviews-inner .five .review::-webkit-scrollbar-thumb {
  height: 8px;
  background: #d0d0d0;
}

.homeScreen-container .review-container .reviews-outer .reviews-inner .one .review span,
.homeScreen-container .review-container .reviews-outer .reviews-inner .two .review span,
.homeScreen-container .review-container .reviews-outer .reviews-inner .three .review span,
.homeScreen-container .review-container .reviews-outer .reviews-inner .four .review span,
.homeScreen-container .review-container .reviews-outer .reviews-inner .five .review span {
  font-weight: 500;
  font-size: 1rem;
  color: #606060;
}

.aboutus-container {
  width: 100%;
  padding-bottom: 50px;
  background-color: #efefef;
}

.aboutus-container .aboutus-inner {
  width: 80%;
  border-radius: 10px;
  margin: 60px auto;
  padding: 40px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(203, 203, 203, 0.4);
          box-shadow: 0px 0px 10px 5px rgba(203, 203, 203, 0.4);
}

.aboutus-container .aboutus-inner .title {
  font-size: 35px;
  margin: 20px 20px;
  text-align: center;
}

.aboutus-container .aboutus-inner p {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 7px;
  padding: 10px 30px;
}

.hotels-container {
  width: 100%;
  min-height: 700px;
}

.hotels-container .coming_soon-box {
  width: 100%;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hotels-container .city-picture {
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url("https://img.cdn.zostel.com/zostel/gallery/images/VFvd-Qq7Q92zkhbjE2ufYA/karnatakas-metropolitan-city-with-its-grand_3lJVBIb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  position: relative;
}

.hotels-container .city-picture .cityName {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 70px;
  font-weight: 600;
  text-decoration: underline;
  font-family: montserrat;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.324);
}

.hotels-container .about-city {
  width: 100%;
  height: 354px;
  padding: 50px 50px;
  background-color: #fff;
}

.hotels-container .about-city .cityName-h1 {
  text-align: center;
  font-size: 47px;
  color: #004e53;
  color: #000;
  text-transform: capitalize;
}

.hotels-container .about-city .cityInfo-p {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  padding: 0px 100px;
}

.hotels-container .hotels-available {
  width: 100%;
  min-height: 354px;
  padding: 50px 50px;
  background-color: #f9f7f1;
}

.hotels-container .hotels-available .title-available-hotels {
  text-align: center;
  font-size: 45px;
  color: #ff5700;
  text-transform: capitalize;
  margin-top: 25px;
}

.hotels-container .hotels-available .available-hotels {
  padding: 50px 0;
}

.hotels-container .hotels-available .available-hotels .one-hotel {
  cursor: pointer;
  margin: 0px auto;
  margin-bottom: 50px;
  width: 930px;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr;
      grid-template-columns: 1.2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 45px;
}

.hotels-container .hotels-available .available-hotels .one-hotel .img {
  background-size: cover;
  border-radius: 10px;
  height: 300px;
}

.hotels-container .hotels-available .available-hotels .one-hotel .img img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.hotels-container .hotels-available .available-hotels .one-hotel .hotel-description {
  margin-top: 30px;
}

.hotels-container .hotels-available .available-hotels .one-hotel .hotel-description .brand-name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #6d6d6d;
}

.hotels-container .hotels-available .available-hotels .one-hotel .hotel-description .hotel-title {
  font-size: 29px;
  margin-bottom: 10px;
  font-weight: 700;
}

.hotels-container .hotels-available .available-hotels .one-hotel .hotel-description .hotel-moreinfo {
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.2;
  color: #6d6d6d;
}

.hotels-container .hotels-available .available-hotels .one-hotel .hotel-description .view-btn {
  width: 150px;
  background-color: #ff5100;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 13px 27px;
  border-radius: 8px;
}

.hotels-container .hotels-available .available-hotels .one-hotel .hotel-description .view-btn i {
  margin-left: 8px;
}

.hotels-container .hotels-available .available-hotels .one-hotel .hotel-description .view-btn:hover {
  text-decoration: underline;
  -webkit-box-shadow: 2px 3px 5px #aaaaaa;
          box-shadow: 2px 3px 5px #aaaaaa;
}

.single-hotel-container {
  width: 100%;
  background-color: #fff;
}

.single-hotel-container .single-hotel-images {
  margin: 0 auto;
  padding: 20px 0;
  width: 1280px;
  height: calc(80vh - 70px);
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 959px 1fr;
      grid-template-columns: 959px 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "a1 b1" "a1 c1" "a1 d1";
  grid-gap: 7px;
}

.single-hotel-container .single-hotel-images .a1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: a1;
  border-radius: 10px;
  background-size: cover;
}

.single-hotel-container .single-hotel-images .a1 img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.single-hotel-container .single-hotel-images .b1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b1;
  background-size: cover;
  border-radius: 10px;
}

.single-hotel-container .single-hotel-images .b1 img {
  height: 179px;
  width: 317px;
  border-radius: 10px;
}

.single-hotel-container .single-hotel-images .c1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c1;
  background-size: cover;
  border-radius: 10px;
}

.single-hotel-container .single-hotel-images .c1 img {
  height: 179px;
  width: 317px;
  border-radius: 10px;
}

.single-hotel-container .single-hotel-images .d1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: d1;
  background-size: cover;
  border-radius: 10px;
}

.single-hotel-container .single-hotel-images .d1 img {
  height: 179px;
  width: 317px;
  border-radius: 10px;
}

.single-hotel-container .hotel-details {
  margin: 0 auto;
  width: 1280px;
  max-height: 220px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 624px 608px;
      grid-template-columns: 624px 608px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 25px 10px;
}

.single-hotel-container .hotel-details .hotel-info .hotel-title {
  font-size: 29px;
  margin-bottom: 14px;
  font-weight: 700;
}

.single-hotel-container .hotel-details .hotel-info .hotel-description {
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.2;
  color: #6d6d6d;
}

.single-hotel-container .hotel-details .hotel-amenities {
  margin-left: 50px;
}

.single-hotel-container .hotel-details .hotel-amenities .sub-title {
  font-size: 27px;
  margin-bottom: 14px;
  font-weight: 700;
}

.single-hotel-container .hotel-details .hotel-amenities .amenities-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 11px;
}

.single-hotel-container .hotel-details .hotel-amenities .amenities-grid .one-amenity {
  font-size: 17px;
  font-weight: 500;
}

.single-hotel-container .hotel-room-details-outer {
  width: 100%;
  background-color: #f9f7f1;
}

.single-hotel-container .hotel-room-details {
  padding: 50px 20px;
  margin: 0 auto;
  width: 1280px;
  min-height: 400px;
  background-color: #f9f7f1;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 850px 420px;
      grid-template-columns: 850px 420px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.single-hotel-container .hotel-room-details .box1 .date-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 69px;
}

.single-hotel-container .hotel-room-details .box1 .date-grid .static-details {
  padding: 0 30px;
}

.single-hotel-container .hotel-room-details .box1 .date-grid .static-details .sub-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.single-hotel-container .hotel-room-details .box1 .date-grid .static-details .sub-title-info {
  font-size: 19px;
  font-weight: 600;
  color: grey;
  margin-bottom: 14px;
}

.single-hotel-container .hotel-room-details .box1 .date-grid .date-select {
  width: 370px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 20px 1fr;
  grid-gap: 15px;
  height: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.single-hotel-container .hotel-room-details .box1 .date-grid .date-select .input {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 16px;
  border-radius: 0.5rem;
  font-weight: 500;
  line-height: 24px;
  color: #484848;
  background-color: #fff;
  width: 100%;
  padding: 11px 11px 9px;
}

.single-hotel-container .hotel-room-details .box1 .date-grid .date-select .arrow {
  text-align: center;
  padding: 11px 11px 9px;
  line-height: 24px;
  font-size: 0.875rem;
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details {
  width: 100%;
  margin-top: 40px;
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  height: 192px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 192px 1fr;
      grid-template-columns: 192px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details .box1 img {
  width: 192px;
  height: 192px;
  border-radius: 0px;
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details .box2 {
  padding: 10px 20px;
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details .box2 .r1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 17px 0;
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details .box2 .r1 .r1-title {
  font-size: 19px;
  font-weight: 600;
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details .box2 .r1 .r1-title span {
  font-size: 14px;
  font-weight: 600;
  color: #ff5100;
  text-decoration: underline;
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details .box2 .r1 .r1-price {
  font-size: 19px;
  font-weight: 600;
  text-align: right;
  margin-right: 45px;
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details .box2 .r2 {
  font-size: 17px;
  font-weight: 500;
  color: grey;
  margin: 10px 0;
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details .box2 .r3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.8fr 1fr 1fr;
      grid-template-columns: 1.8fr 1fr 1fr;
  margin: 20px 0 10px 0;
  place-items: center;
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details .box2 .r3 .r3-guests {
  font-size: 18px;
  font-weight: 600;
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details .box2 .r3 .addition-unit-engine {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 120px;
  height: 30px;
  place-items: center;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fcca46;
  background-color: #f9f7f1;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                              supported by Chrome and Opera */
}

.single-hotel-container .hotel-room-details .box1 .room-booking-details .each-room-details .box2 .r3 .addition-unit-engine i {
  background-color: #ff5700;
  border-radius: 2px;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #fff;
  cursor: pointer;
}

.single-hotel-container .hotel-room-details .box2 .order-box {
  padding: 13px;
  margin-left: 55px;
}

.single-hotel-container .hotel-room-details .box2 .order-box .order-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 14px;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-date-box {
  margin-bottom: 27px;
  font-weight: 600;
  color: grey;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-room-pricing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  margin-bottom: 17px;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-room-pricing .dynamic-room-type {
  font-size: 18px;
  font-weight: 700;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-room-pricing .dynamic-room-type span {
  color: grey;
  font-size: 16px;
  font-weight: 600;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-room-pricing .dynamic-room-tprice {
  font-size: 18px;
  font-weight: 700;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-subtotal {
  margin-top: 30px;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-subtotal .bordered {
  border-top: 3px solid #ff5100;
  width: 270px;
  margin-bottom: 16px;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-subtotal .tax {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  margin-bottom: 15px;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-subtotal .tax .stable {
  font-size: 18px;
  font-weight: 700;
  color: grey;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-subtotal .tax .dynamic {
  font-size: 18px;
  font-weight: 700;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-subtotal .payable {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  margin-bottom: 15px;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-subtotal .payable .stable {
  font-size: 18px;
  font-weight: 700;
  color: grey;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-subtotal .payable .dynamic {
  font-size: 18px;
  font-weight: 700;
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-subtotal .pay-btn {
  border-radius: 8px;
  width: 270px;
  height: 50px;
  padding: 11px 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #ff5500;
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  margin-top: 28px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 194, 108, 0.3);
          box-shadow: 0px 0px 10px rgba(255, 194, 108, 0.3);
}

.single-hotel-container .hotel-room-details .box2 .order-box .dynamic-room-details .dynamic-subtotal .pay-btn:hover {
  text-decoration: underline;
  -webkit-box-shadow: 2px 3px 5px #aaaaaa;
          box-shadow: 2px 3px 5px #aaaaaa;
}

.booking-container {
  width: 100%;
  background-color: #fff;
}

.booking-container .booking-inner {
  padding: 10px 10px 70px 10px;
  width: 1280px;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 853px 1fr;
      grid-template-columns: 853px 1fr;
      grid-template-areas: "b-box1" "b-box2";
  grid-gap: 20px;
  border-radius: 12px;
}

.booking-container .booking-inner .b-box1 .confirm-title {
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.booking-container .booking-inner .b-box1 .form {
  border: 2px solid #f1f1f1;
  border-radius: 12px;
  margin-top: 25px;
  overflow: hidden;
}

.booking-container .booking-inner .b-box1 .form .guest-title {
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
  background-color: #def5ff;
  color: #2b2b2b;
}

.booking-container .booking-inner .b-box1 .form .form-grid {
  padding: 10px 20px;
  margin-top: 20px;
}

.booking-container .booking-inner .b-box1 .form .form-grid .b1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 1fr;
      grid-template-columns: 120px 1fr;
  -ms-grid-rows: 60px;
      grid-template-rows: 60px;
  margin-bottom: 15px;
}

.booking-container .booking-inner .b-box1 .form .form-grid .b1 p {
  font-size: 19px;
  font-weight: 600;
  padding: 15px;
  color: #515151;
}

.booking-container .booking-inner .b-box1 .form .form-grid .b1 p sup {
  color: #f15824;
  font-size: 20px;
  position: relative;
  top: 6px;
  left: -2px;
}

.booking-container .booking-inner .b-box1 .form .form-grid .b1 div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 90%;
  grid-gap: 15px;
}

.booking-container .booking-inner .b-box1 .form .form-grid .b1 div input {
  font-family: montserrat;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  padding: 12px;
  height: 45px;
}

.booking-container .booking-inner .b-box1 .form .form-grid .b2,
.booking-container .booking-inner .b-box1 .form .form-grid .b3,
.booking-container .booking-inner .b-box1 .form .form-grid .b4,
.booking-container .booking-inner .b-box1 .form .form-grid .b5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 1fr;
      grid-template-columns: 120px 1fr;
  -ms-grid-rows: 60px;
      grid-template-rows: 60px;
  margin-bottom: 15px;
}

.booking-container .booking-inner .b-box1 .form .form-grid .b2 p,
.booking-container .booking-inner .b-box1 .form .form-grid .b3 p,
.booking-container .booking-inner .b-box1 .form .form-grid .b4 p,
.booking-container .booking-inner .b-box1 .form .form-grid .b5 p {
  font-size: 19px;
  font-weight: 600;
  padding: 15px;
  color: #515151;
}

.booking-container .booking-inner .b-box1 .form .form-grid .b2 p sup,
.booking-container .booking-inner .b-box1 .form .form-grid .b3 p sup,
.booking-container .booking-inner .b-box1 .form .form-grid .b4 p sup,
.booking-container .booking-inner .b-box1 .form .form-grid .b5 p sup {
  color: #f15824;
  font-size: 20px;
  position: relative;
  top: 6px;
  left: -2px;
}

.booking-container .booking-inner .b-box1 .form .form-grid .b2 div select,
.booking-container .booking-inner .b-box1 .form .form-grid .b3 div select,
.booking-container .booking-inner .b-box1 .form .form-grid .b4 div select,
.booking-container .booking-inner .b-box1 .form .form-grid .b5 div select {
  font-family: montserrat;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  padding: 12px;
  height: 45px;
  width: 90%;
  text-transform: capitalize;
  outline: none;
}

.booking-container .booking-inner .b-box1 .form .form-grid .b2 div input,
.booking-container .booking-inner .b-box1 .form .form-grid .b3 div input,
.booking-container .booking-inner .b-box1 .form .form-grid .b4 div input,
.booking-container .booking-inner .b-box1 .form .form-grid .b5 div input {
  font-family: montserrat;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  padding: 12px;
  height: 45px;
  width: 90%;
}

.booking-container .booking-inner .b-box1 .form .b6 {
  padding: 17px 5px 17px 20px;
  border-top: 2px solid #e8e8e8;
  font-size: 18px;
  font-weight: 600;
  color: #2b2b2b;
}

.booking-container .booking-inner .b-box1 .form .b6 span {
  color: #f15824;
  cursor: pointer;
}

.booking-container .booking-inner .b-box2 {
  margin-bottom: 0px;
}

.booking-container .booking-inner .b-box2 .booking-summary-box {
  border: 2px solid #f1f1f1;
  border-radius: 12px;
  padding: 23px;
  margin-top: 55px;
  margin-left: 5px;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .order-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 14px;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-date-box {
  margin-bottom: 27px;
  font-weight: 600;
  color: grey;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-room-pricing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  margin-bottom: 17px;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-room-pricing .dynamic-room-type {
  font-size: 18px;
  font-weight: 700;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-room-pricing .dynamic-room-type span {
  color: grey;
  font-size: 16px;
  font-weight: 600;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-room-pricing .dynamic-room-tprice {
  font-size: 18px;
  font-weight: 700;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-subtotal {
  margin-top: 30px;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-subtotal .bordered {
  border-top: 3px solid #ff5100;
  width: 90%;
  margin-bottom: 16px;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-subtotal .tax {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  margin-bottom: 15px;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-subtotal .tax .stable {
  font-size: 18px;
  font-weight: 700;
  color: grey;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-subtotal .tax .dynamic {
  font-size: 18px;
  font-weight: 700;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-subtotal .payable {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  margin-bottom: 15px;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-subtotal .payable .stable {
  font-size: 18px;
  font-weight: 700;
  color: grey;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-subtotal .payable .dynamic {
  font-size: 18px;
  font-weight: 700;
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-subtotal .pay-btn {
  border-radius: 8px;
  width: 90%;
  height: 45px;
  padding: 11px 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #ff5500;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-top: 28px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 194, 108, 0.3);
          box-shadow: 0px 0px 10px rgba(255, 194, 108, 0.3);
}

.booking-container .booking-inner .b-box2 .booking-summary-box .dynamic-room-details .dynamic-subtotal .pay-btn:hover {
  text-decoration: underline;
  -webkit-box-shadow: 2px 3px 5px #aaaaaa;
          box-shadow: 2px 3px 5px #aaaaaa;
}

.longstays-container {
  width: 100%;
  background-color: #fff;
}

.longstays-container .longstays-inner {
  padding: 10px 10px 70px 10px;
  width: 1280px;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 400px;
}

.longstays-container .longstays-inner .head {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
}

.longstays-container .longstays-inner .subhead {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}

.longstays-container .longstays-inner .img-cover {
  display: block;
  width: 90%;
  height: 500px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 40px;
}

.longstays-container .longstays-inner .hotels-available {
  width: 100%;
  min-height: 354px;
  padding: 50px 50px;
  background-color: #f9f7f1;
  background-color: #ffffff;
}

.longstays-container .longstays-inner .hotels-available .title-available-hotels {
  text-align: center;
  font-size: 45px;
  color: #ff5700;
  text-transform: capitalize;
  margin-top: 25px;
}

.longstays-container .longstays-inner .hotels-available .available-hotels {
  padding: 50px 0;
}

.longstays-container .longstays-inner .hotels-available .available-hotels .one-hotel {
  cursor: pointer;
  margin: 0px auto;
  margin-bottom: 50px;
  width: 930px;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr;
      grid-template-columns: 1.2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 45px;
}

.longstays-container .longstays-inner .hotels-available .available-hotels .one-hotel .img {
  background-size: cover;
  border-radius: 10px;
  height: 300px;
}

.longstays-container .longstays-inner .hotels-available .available-hotels .one-hotel .img img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.longstays-container .longstays-inner .hotels-available .available-hotels .one-hotel .hotel-description {
  margin-top: 30px;
}

.longstays-container .longstays-inner .hotels-available .available-hotels .one-hotel .hotel-description .brand-name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #6d6d6d;
}

.longstays-container .longstays-inner .hotels-available .available-hotels .one-hotel .hotel-description .hotel-title {
  font-size: 29px;
  margin-bottom: 10px;
  font-weight: 700;
}

.longstays-container .longstays-inner .hotels-available .available-hotels .one-hotel .hotel-description .hotel-moreinfo {
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.2;
  color: #6d6d6d;
}

.longstays-container .longstays-inner .hotels-available .available-hotels .one-hotel .hotel-description .view-btn {
  width: 150px;
  background-color: #ff5100;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 13px 27px;
  border-radius: 8px;
}

.longstays-container .longstays-inner .hotels-available .available-hotels .one-hotel .hotel-description .view-btn i {
  margin-left: 8px;
}

.longstays-container .longstays-inner .hotels-available .available-hotels .one-hotel .hotel-description .view-btn:hover {
  text-decoration: underline;
  -webkit-box-shadow: 2px 3px 5px #aaaaaa;
          box-shadow: 2px 3px 5px #aaaaaa;
}

.congratsScreen-container {
  width: 100%;
  background-color: #fff;
}

.congratsScreen-container .congrats-inner {
  padding: 10px 10px 70px 10px;
  width: 1280px;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 853px 1fr;
      grid-template-columns: 853px 1fr;
      grid-template-areas: "b-box1" "b-box2";
  grid-gap: 20px;
  border-radius: 12px;
}

.modal-backdrop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  z-index: 2000;
}

.modal-backdrop .modal-content {
  width: 380px;
  height: 120px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-backdrop .modal-content i {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}

.modal-backdrop .modal-content h3 {
  font-size: 20px;
  font-weight: 600;
}

.footer-parent {
  width: 100%;
  background-color: #3b4a5b;
}

.footer_container {
  padding: 30px;
  width: 1380px;
  margin: 0 auto;
  height: 420px;
  display: -ms-grid;
  display: grid;
  background-color: #ff6f00;
  background-color: #3b4a5b;
  place-items: center;
  -ms-grid-columns: 250px 370px 370px 230px;
      grid-template-columns: 250px 370px 370px 230px;
  grid-gap: 30px;
  font-size: 1.3rem;
  color: #efefef;
  font-weight: 600;
}

.footer_container h5 {
  padding-top: 10px;
  margin-left: -50px;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  color: #efefef;
}

.footer_container .more-info {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  color: #efefef;
}

.footer_container .more-info .email {
  font-size: 21px;
  margin-top: 17px;
  color: #fff;
  text-decoration: underline;
}

.footer_container .mailing-address {
  padding-top: 10px;
  font-size: 18px;
}

.footer_container .mailing-address .head-address {
  margin-bottom: 24px;
  font-size: 23px;
  margin-left: 5px;
}

.footer_container .mailing-address p {
  margin-bottom: 10px;
  line-height: 1.3;
  font-weight: 500;
}

.footer_container .footer-social {
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 28px;
  place-items: center;
}

.footer_container .footer-social p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.footer_container .footer-social .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 28px;
}

.footer_container .footer-social .links a {
  text-decoration: none;
  color: #efefef;
  font-size: 30px;
}

.footer_container .footer-social .links a i {
  color: #efefef;
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */